body{
    font-family:Lato;
    background-color: rgb(232, 232, 232);
    margin:0;
}
form{
    margin:0;
    padding:0;
}
.header{
    display: flex;
    height:70px;
    margin-top: 0px;
    padding-left:40px;
    align-items: center;
    background:white;
    border-bottom: 1px solid grey;
}
.header img{
    height:30px;
    margin:5px 100px 0px 100px;
}
.header input{
    height:30px;
    width:300px;
    font-size: 18px;
    padding: 10px 8px 2px 8px;
    border:2px solid grey;
    border-radius: 10px;
}
.header div{
    position:relative;
    margin-top:1px
}
.header div .input-desc{
    position:absolute;
    top:1px;
    left:10px;
    font-size:12px;
    font-weight: 700;
}
.input-container{
    display: flex;
    justify-content: end;
}

.header .search-button{
    width:150px;
    font-size: 20px;
    font-weight: 700;
    margin-left:40px;
    padding:10px;
    height:40px;
    background: linear-gradient(90deg, rgb(34, 26, 179) 0%, rgb(59, 59, 244) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    color:aliceblue;
    border:none;
}


.train-card{
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding:10px;
    width:900px;
    background-color: white;
    margin-top: 20px;
    margin-left:20px;
}
.train-info{
    display: flex;
    justify-content:center;
    align-items:center;
    width:900px;
}
.train-timing-details{
    margin-top:20px;
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.train-destination{
    width:200px;
    text-align: center;
}
.train-duration{
    flex:1;
    text-align: center;
    color:rgb(104, 103, 103)
}
.train-duration a{
    text-decoration:none;
    color:royalblue
}

.ticket-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
}

.ticket-card{
    border-radius: 10px;
    border: 1px solid grey;
    padding:10px
}
.ticket-card div{
    margin-bottom:10px;
}
.ticket-card .available{
    color:darkgreen;
    font-weight:700;
}
.ticket-card .cancel{
    font-size:14px;
    color:darkgrey;
}
.ticket-heading{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
.ticket-heading .tatkal{
    margin-left:5px;
    font-size:14px;
    border:1px solid lightyellow;
    padding: 2px;
    border-radius: 5px;
    background-color: lightyellow;
    color:darkgoldenrod
}

.train-title{
    font-weight: 900;
    margin-bottom:0px
}
.train-name span{
    color:grey;
    font-size: 14px;
}
.train-name span .train-schedule{
    font-weight:900;
    color: darkgreen;
}
.line{
    border:1px solid grey;
    height:1px;
    width:30px;
    background-color: grey;
    border-radius:5px
}
