

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
    
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #625f5f;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#3b50a2,rgb(21, 48, 93),#140d4e);
}

.signin {
  width: 90%;
  max-width: 400px;
  background: #aca9a9;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(104, 103, 103, 0.5);
  text-align: center;
}

h2 {
  color: rgb(239, 237, 246);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  background: #e2e0e0;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #fff;
  text-decoration: none;
}

input[type="submit"] {
  background: rgb(120, 65, 248);
  color: #f4efef;
  cursor: pointer;
  font-weight: 600;
}

